body {
    margin: 0;
    padding: 0;
    background-color: #f0fdf4;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color: #15803d;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    color: white;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 14px 10px;
    display: block;
}

.nav-links {
    display: flex;
    align-items: center;
}

.button-type-1 button {
    background-color: #facc15;
    color: #15803d;
    border: none;
    padding: 10px 20px;
    border-radius: 999px;
    cursor: pointer;
    font-size: 16px;
}

.button-type-2 button {
    background-color: #DCFCE7;
    color: #15803D;
    border: none;
    padding: 10px 20px;
    border-radius: 999px;
    cursor: pointer;
    font-size: 16px;
}

.button-type-3 button {
    background-color: #15803d;
    color: #FFFFFF;
    border: none;
    padding: 10px 130px;
    border-radius: 999px;
    cursor: pointer;
    font-size: 16px;
    margin: 0 auto;
}

.button-type-1 {
    display: flex;
    align-items: center;
}

.banner-content {
    text-align: center;
    background-color: #cff0dc;
}

.banner-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
    color: #1f2937;
}

.banner-content p {
    font-size: 20px;
    margin-bottom: 30px;
    color: #425158;
}

.banner-content .button-type-1 button {
    font-size: 18px;
    padding: 12px 30px;
    margin: 0 auto;
}

banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cff0dc;
    max-height: 383px;
}

.card {
    border: 1px solid #e5e7eb;
    border-radius: 8px;
    padding: 16px;
    text-align: left;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 16px;
    width: 343.33px;
    height: 431.8px;
    background-color: white;
}

.image-container {
    border: 1px solid #ededed;
    border-radius: 8px;
    background-color: #ededed;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3px;
    height: 186.8px;
    object-fit: cover;
}

.card-type {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.Tress-Section-Headline {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    color: #1f2937;
}

.Tree-Section-Container-Left {
    align-items: center;
    margin-left: 70px;
}

.Tree-Section-Container-Left ul li {
    text-decoration: none;
    list-style: none;
    text-align: left;
    margin-bottom: 15px;
    color: #1f2937;
    cursor: pointer;
}

.Tree-Section-Container-Left ul {
    padding: 10px;
}

.Choose-Your-Trees-Section {
    display: flex;
    flex-direction: wrap;
}

.Tree-Section-Container-Body {
    max-width: 1090px;
    max-height: 793.6px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
    margin: 0 auto;
}

.Tree-Section-Container-Right {
    border: 1px solid #e5e7eb;
    border-radius: 8px;
    padding: 16px;
    text-align: left;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 16px;
    margin-left: 70px;
    width: 300px;
    height: 930px;
    background-color: white;
}

.Tree-Section-Container-Right h3 {
    font-size: 24px;
}

.About-Campaign {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 16px;
}

.About-Campaign-Container-Right p,
ul li {
    color: #49545d;
}

.About-Campaign-Container-Right {
    padding-left: 26px;
}

.Our-Impact-Section {
    background-color: #cff0dc;
    padding: 40px 0;
}

.Our-Impact-Box {
    text-align: center;
    border: 1px solid #e5e7eb;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 16px;
    width: 316.76px;
    height: 90px;
    background-color: white;
}

.Our-Impact-Box h2 {
    color: #228747;
}

.Our-Impact-Box p {
    color: #4c545f;
}

.Our-Impact-Container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1090px;
    margin: 0 auto;
}

.Plant-a-Tree-Today-Section {
    background-color: #166534;
    padding: 40px 0;
}

.Plant-a-Tree-Today-Form {
    background-color: #15803d;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}